

.qwe{
	margin: 0px auto;
	width:1000px;
	height: 1000px;
	background: green;
}
img{
	height: 100%;
}
h1{
	margin: 0px auto;
	text-align:  center;
	line-height: 100px;

}
.size{
	width: 100px;
	height: 100px;
}

.black{
	background: #2F2F2F;
}

.white{
	background: white;
}

.grey{
	background: grey;
}

.col-2{
 	margin-left: 100px;
 	margin-top: -1000px;
 }

.col-3{
 	margin-left: 200px;
 	margin-top: -1000px;
 }

 .col-4{
 	margin-left: 300px;
 	margin-top: -1000px;
 }

 .col-5{
 	margin-left: 400px;
 	margin-top: -1000px;
 }

 .col-6{
 	margin-left: 500px;
 	margin-top: -1000px;
 }

  .col-7{
 	margin-left: 600px;
 	margin-top: -1000px;
 }

  .col-8{
 	margin-left: 700px;
 	margin-top: -1000px;
 }

 .col-9{
 	margin-left: 800px;
 	margin-top: -1000px;
 }
 
 .col-10{
 	margin-left: 900px;
 	margin-top: -1000px;
 }
 